# Ігнорування окремих файлів
# secret_config.yaml
# notes.txt

# Ігнорування каталогу
# /my_folder/
/.obsidian/
/templates/
/scripts/
/workspace/

# Ігнорування всіх файлів з певним розширенням
# *.log